.place-name {

  margin: 0;
  color: #007bff;

  cursor: pointer;

}

td a:hover {

  text-decoration: none;

}

td .place-status {

  margin-right: 5px;

  color: #6c757d;

  font-size: 11px;

  transition: all .2s ease-in-out;
}

td .place-status:after {

  content: ' |'

}

td .place-status:last-child {

  margin-right: 0;

}

td .place-status:last-child:after {

  content: '';

}

td .place-status i {

  margin-right: 3px;

  vertical-align: middle;

}