.notification {

  position: fixed !important;
  bottom: 10px;
  left: 50%;

  transform: translateX(-50%);

  transition: all .7s cubic-bezier(.41,-0.29,.55,.96);

  z-index: 50;

}

.notification-hide {

  bottom: -100%;

}