.info-window {

  display: flex;

  flex-direction: column;

  position: absolute;
  top: 0;
  left: 0;

  text-align: center;

  padding: 20px;

  height: 100%;
  width: 100%;

  background: rgba(255, 255, 255, 0.85);

  transition: all .3s ease-in-out;

  z-index: 20;

}

.info-window.hide {

  transform: translateX(-100%);

}

@media (min-width: 760px) {
  .info-window {
    width: 275px;
  }
}

.info-window-details {

  flex-grow: 1;

}

.info-window-name {

  font-size: 16px;
  font-weight: 500;

  margin-bottom: 10px;

}

.info-window-name img  {

  display: block;

  width: 64px;
  margin: 10px auto;

  text-align: center;

}

.info-window-detail {

  font-size: 14px;
  margin-bottom: 10px;
  color: #6c757d;

}

.info-window-icon {

  margin-right: 5px;

  font-size: 20px;
  vertical-align: middle;

  color: #6c757d;

}

.info-window .btn {

  margin: 10px 0;

  align-self: flex-end;

}