.sidebar {
  margin-bottom: 10px;
}

.sidebar-header {

  display: block;

  padding: 8px 10px;

  font-weight: 500;
  font-size: 16px;

  border-bottom: 1px solid #eee;

}

.sidebar-body {

  padding: 8px 10px;

}