#map {
  width: 100%;
  height: 520px;

  background: #444;
}

.load-more-button {

  position: absolute;
  bottom: 10px;
  left: 50%;

  transform: translateX(-50%);

  z-index: 10;

  opacity: .85;

  transition: all .2s ease-in-out !important;

}

.load-more-button:hover {

  opacity: 1;

}

.load-more-button.hide {

  visibility: hidden;
  opacity: 0;

  transform: translate(-50%, 50%);
  

}